<a href="https://colab.research.google.com/github/Ajay-Sai-Kiran/Machine_learning_challenge/blob/main/SVM_with_Linear%2C_RBF_and_Poly_Kernel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SVM with Linear, RBF and Poly Kernel

#Importing Libraries

In [ ]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

#Loading In-built datasets

In [ ]:
iris=load_iris()

In [ ]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [ ]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df['species']=pd.Categorical.from_codes(iris.target,iris.target_names)
df['target']=iris.target
df

     sepal length (cm)  sepal width (cm)  ...    species  target
0                  5.1               3.5  ...     setosa       0
1                  4.9               3.0  ...     setosa       0
2                  4.7               3.2  ...     setosa       0
3                  4.6               3.1  ...     setosa       0
4                  5.0               3.6  ...     setosa       0
..                 ...               ...  ...        ...     ...
145                6.7               3.0  ...  virginica       2
146                6.3               2.5  ...  virginica       2
147                6.5               3.0  ...  virginica       2
148                6.2               3.4  ...  virginica       2
149                5.9               3.0  ...  virginica       2

[150 rows x 6 columns]

In [ ]:
X=df.iloc[:,:2]
y=df.iloc[:,5]

In [ ]:
X

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

In [ ]:
X.shape,y.shape

((150, 2), (150,))

In [ ]:
from sklearn import svm

In [ ]:
clf_linear = svm.SVC(kernel='linear')
clf_linear.fit(X, y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
clf_rbf=svm.SVC(gamma='auto',probability=True)
clf_rbf.fit(X, y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
poly_svc=svm.SVC(kernel='poly')
poly_svc.fit(X,y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
x_min,x_max=x.iloc[:,1].

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(20,10))
for i,clf in enumerate(clf_linear,clf_rbf,poly_svc):
  plt.subplot(2,2,i+1)
  clf.predict()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42)

In [ ]:
clf = clf_linear.fit(X_train, y_train)
#clf=clf_rbf.fit(X, y)
#clf=poly_svc.fit(X,y)

In [ ]:
y_pred = clf_linear.predict(X_test)
#y_pred = clf_rbf.predict(X_test)
#y_pred=poly_svc.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, labels=[1, 2, 3]))

              precision    recall  f1-score   support

           1       0.78      0.64      0.70        11
           2       0.71      0.83      0.77        12
           3       0.00      0.00      0.00         0

   micro avg       0.74      0.74      0.74        23
   macro avg       0.50      0.49      0.49        23
weighted avg       0.74      0.74      0.74        23

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8421052631578947